<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="indexcss.css"/>
    
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
     
</head>
<body>
    <div id="header"></div>
    <div style="background-color: black; color: white;">
        <p style="padding: 10px;">9644200400  0731-2617600</p>
    </div>
    <div style="background-color: rgb(242, 244, 245); display: flex;">
        <div>
        <img src="idealinternationalindore-logo.jpg" alt="ideal idealinternationalindore" style="width: 75vw; height: 13vh;">
        </div>
        <div style="margin-left: 25px;margin-top: 12px;">
        <button class="Addmisionbutton">Addmission Open 2022-23 <br> (online admission form)</button></div>
    </div>
    <div>
        <ul style="background-color: rgb(37, 37, 146); padding: 10px;">
            <li>Home</li>
            <li onclick="AboutUs()">About Us</li>
            <li>Facilities</li>
            <li>Infrastructure</li>
            <li>Addmission</li>
            <li>Academic</li> 
            <li>Photo Gallery</li>
            <li>Career</li>
            <li>Contact Us</li>
            <li>Others</li>
        </ul>
        <div id="rty"> fghhdfhhg</div>


    </div>
    <script src="index.js"></script>
    <div id="footer"></div>
    <script> 
        $(function(){
          $("#header").load("/commonheader.html"); 
          $("#footer").load("/commonfooter.html"); 
        });
    </script>
</body>
</html>