<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission And Vission</title>
    <link rel="stylesheet" href="/css/MissionAndVision.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
     
</head>
<body>
    <div id="header"></div>
    <div id="Body" class="row">
        <div id="content" class="col-md-7">
<p><b>OUR MISSION</b></p>

<p>To build learning spaces for students that-<br>
Ensure freedom to explore the world around them.<br>
Enhance inquisitiveness which drives creativity.<br>
Equip them to be independent, and have faith in oneself.<br>
Enrich them with traditional values and modern education.<br>
Enable for a healthy and holistic development of the child.</p>

<p><b>OUR VISION</b></p>
<p>“We will take a Hand, Open A Mind, Touch A Heart & Shape the Future…”
The Vision behind Ideal International School is to bring forth an approach 
of systematic and programmed learning to the citizens of India by 
creating a learning environment worthy for the future. Ideal International
 School provides effective solutions to all the school related issues that
  a parent and a child faces, by neatly integrating academics with all other
   activities. Each student therefore develops to his or her maximum potential.
    Ideal International school has outstanding educational aids and modern 
    teaching techniques. The goal is to provide good exposure to the students 
    and keep them at par with their peers nationwide and even internationally.
     Ideal International School prepares the students to understand, contribute
      and succeed in a rapidly changing society. They will make our local and 
      global communities a better place. In a nutshell, the vision is to help 
      students love, lead and learn and in turn, leave a legacy.

<p><b>OUR VALUES</b></p>

<p>Fundamental Values of Ideal International School is “ETHICS”<br>
Empathy: To make the community around it a better place by finding echoes
 of persons.
Team Work: To bind together as a single, unconquerable force
 by building trust among each other and rallying together towards success.<br>
Humility: To be principled leaders within, by being modest, humble and respect
ful in valuing every relationship and interaction.<br>
Integrity: To build a righteous personality by imbibing honesty with 
commitment even under fading circumstances.<br>
Courage: To gain strength and confidence to stand up for self and others 
under absolute circumstances.<br>
Self- Discipline: To put positive patterns of behavior into structured practice as an everyday habit.

<p><b>OUR MOTTO</b></p>
The motto of the school is, “Spread the Light” of knowledge, wisdom and truth to dispel the darkness of ignorance and desire. We encourage our students to assimilate these principles so that they grow up to be constructive members of society and patriotic citizens.
Our Beliefs<br><br>

Students First: Each child is special and we should help him/her in bringing 
out the best of talent for Life, University and Career. Our belief is that we 
would one day help to be pioneers wherever they might be: in the confines of
 a home, in the power corridors of a corporation or be survivors in alien 
 territories.<br>

Knowledge Temple: We believe in creating temple of learning where knowledge 
is admired.<br><br>

Efficient Teachers: To bring and nurture outstanding teachers to get 
outstanding results.<br><br>

Holistic Development: Nurture the child’s mind, body and spirit through 
holistic approach. Teachers are at their best when they are given free hands
 to adopt creative ways to make children learn the world around them.<br><br>

Respect Everyone: All the members of school community should be treated with 
respect.<br><br>

Continuous Improvement: As the world changes, The Management of the school 
is dedicated towards ensuring that the curriculum ,teaching methods and the 
infrastructure are upgraded and are kept up to date, to keep pace with the 
rapid changes taking place in the educational field.<br><br>

“Systems for support*: We believe in having hands on tools, latest technology 
and programs, to support the basic efforts of integrating the curriculum and 
aids to inspire a collaborative learning community, that can effectively find, 
evaluate, use and create content.<br><br>


“Partnership with Parents*: We believe that parental support is integral to 
the success of each or our student. Parents participation in their child’s 
education process is always encouraged.
        </div>
        <div Id="content1" class="col-md-4">
            <h3>RECENT ACTIVITIES</h3>
            <img src="https://idealinternationalindore.com/wp-content/uploads/cache/2022/07/Educational-field-trip-Sanchi-Milk-Plant-Indore-3/4091507841.jpg" alt="1" class="activities1">
            <img src="https://idealinternationalindore.com/wp-content/uploads/cache/2022/07/Educational-field-trip-Sanchi-Milk-Plant-Indore-2/959074949.jpg" alt="2"  class="activities2">
        </div>
        <div id="footer"></div>
        <script> 
            $(function(){
              $("#header").load("/commonheader.html"); 
              $("#footer").load("/commonfooter.html"); 
            });
        </script>
    </body>
    </html>