<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science Labs</title>
    <link rel="stylesheet" href="/css/ScienceLabs.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>
     
</head>
<body>
    <div id="header"></div>
    <div id="Body" class="row">
        <div id="content" class="col-md-7">
            <h1>Science Labs</h1>
            <p>
                Laboratories are known to be stimulating places for the young minds where they can explore, probe and experiment
                 to unravel the truths behind the facts of life and generate new facts as well. In order to cater to the needs of 
                 enthusiastic scientists. The school possesses well-designed, spacious and well-equipped Physics, Chemistry,
                  Biology and Junior Sciences Laboratories. They have all sets of accurate digital measuring instruments, kits, 
                  experimental gadgets, models, charts and other necessary apparatus. Under the assistance of efficient teachers 
                  and lab-assistants, the students here can perform a wide array of experiments and strengthen their scientific, 
                  investigative, reasoning and social skills.<br><br>

                1. Physics Lab It is an ultra modern lab fully equipped with latest apparatus to provide the much needed facilities
                 to the students from classes I to XI. The senior wing lab caters to the requirement of students from classes VI-XI
                  with 50 students at a time. It also includes a dark room for experiments on light. Besides practicals.<br><br>

                2. Chemistry Lab: The Chemistry Lab in Ideal International School is well equipped with all modern apparatus and 
                chemicals required upto class XI. With the seating capacity of about 50 students in this well ventilated hall, the Lab 
                also prides itself of having a balance room for volumetric analysis. Students are guided by qualified teachers and lab 
                assistants to complete their projects and experiments.<br><br>
                3. Biology Lab: The spacious, well ventilated Biology Lab caters to the requirement of senior students. Keeping the latest 
                syllabus in mind the models, specimens, charts, chemicals etc have been well planned. Besides, the lab is self sufficient 
                with other necessary assets such as hot case, refrigerator and water bath etc. The well qualified teachers and lab assistants
                 are yet another asset for the lab.<br><br>

                4. Junior Science Lab : Situated in the middle wing, the middle school science lab is very well equipped and well lit and 
                can accommodate 40-50 students at a time. The specimens, apparatus and chemicals are available to the students for hands on
                 experience. The students of classes VI-VIII perform experiments and activities related to their lessons. Once every fortnight
                  their classes are also conducted there. The availability of computer in the lab makes it easier for children to prepare and
                   make project presentations. The middle school science lab is a place for learning, experimenting, exploring and relating 
                   theory to practical learning. It gives an opportunity to young minds to satisfy their science related curiosities.<br><br>


            </p>    
            <p>
                <iframe src="https://youtu.be/ydTh6dNNTN0" allow='autoplay' frameborder="0" class="ScienceVideo"  allowfullscreen></iframe></p>
            <p class="ScienceImage">
            <img src="https://idealinternationalindore.com/wp-content/uploads/cache/2017/05/science-lab/709493801.jpg" alt="Science">
            </p>
        </div>
        <div Id="content1" class="col-md-4">
            <h3>RECENT ACTIVITIES</h3>
            <img src="https://idealinternationalindore.com/wp-content/uploads/cache/2022/07/Educational-field-trip-Sanchi-Milk-Plant-Indore-3/4091507841.jpg" alt="1" class="activities1">
            <img src="https://idealinternationalindore.com/wp-content/uploads/cache/2022/07/Educational-field-trip-Sanchi-Milk-Plant-Indore-2/959074949.jpg" alt="2"  class="activities2">
        </div>







    </div>
    <div id="footer"></div>
    <script> 
        $(function(){
          $("#header").load("/commonheader.html"); 
          $("#footer").load("/commonfooter.html"); 
        });
    </script>
</body>
</html>